:root {
  --primary: #17A934;
  --gray-900: #3D3E3F;
  --gray-700: #5C5E60;
  --gray-100: #B6B7B8;
  --error: #F05C2E;
}
* {
  box-sizing: border-box;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Pretendard';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
