.component {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 112px);
}
.filter_area {
  display: flex;
  padding: 15px 0 15px 16px;
}

.study_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 7px 16px;
}
.item {
  display: flex;
  gap: 10px;
}
.thumbnail_area {
  position: relative;
  width: 110px;
  height: 110px;
  .thumbnail {
    width: 110px;
    height: 110px;
    border-radius: 6px;
  }
  .new {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 34px;
    height: 18px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-size: 10px;
    line-height: 10px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: var(--primary);
  }
  & svg {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  letter-spacing: -0.5px;
  color: var(--gray-6-dark);

  .category {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: black;
  }
  .date {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
  .number {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .recommend {
    padding: 6px 10px;
    border-radius: 6px;
    background-color: var(--gray-2-light);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    & b {
      font-weight: 600;
    }
  }
}
